SITE_URL=https://poisonwellrecords.netlify.app
STRIPE_SECRET_KEY=sk_test_replace_me
STRIPE_SHIPPING_RATE_STANDARD_ID=shr_replace_me
STRIPE_SHIPPING_RATE_CJ_ID=shr_replace_me
STRIPE_ALLOWED_COUNTRIES=US
STRIPE_AUTOMATIC_TAX=false
